.title {
  font-size: 15px;
  color: #2d3436;
  margin: 10px 10px 0;
}

.cardPost {
  /* display: flex;
    flex: justify; */
  border-radius: 25px;
  /* position: relative; */
  padding: 10px 10px 10px 20px;
  background-color: #35eead;
  margin: 0px 5px 20px 5px;
  box-shadow: 5px 5px 10px rgb(115, 143, 196);
  transition-duration: 400ms;
}

.cardPost:hover {
  transition-duration: 200ms;
  background-color: #29bb89;
}

.column1 {
  float: left;
  width: 33.33%;
  padding-left: 10px;
}

.column2 {
  float: left;
  width: 33.33%;
  padding-left: 10px;
}

.column3 {
  float: left;
  width: 33.33%;
  padding-left: 70px;
}

.desc {
  font-size: 14px;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 5px 10px 0;
}

.circle-img {
  /* border-radius: 50%; */
  border: 7px solid #fff;
  /* width: 80px;
  height: 80px; */
  max-width: 100%;
}

.info {
  margin: 10px 0 0 0;
  font-size: 12px;
}
