.fullPost {
  /* display: flex;
    flex: justify; */
  border-radius: 5px;
  position: relative;
  padding: 10px 10px 10px;
  background-color: #29bb89;
  margin: 0px 5px 20px 5px;
  /* height: 100%; */
  box-shadow: 5px 20px 30px rgb(115, 143, 196);
  /* overflow-y: auto; */
}

.lightGreen {
  background-color: #9cee9c;
  border-radius: 5px;
  height: 100px;
  margin: 0px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
}

.darkGreen {
  background-color: #3ca34a;
  border-radius: 5px;
  height: 100px;
  margin: 0px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
}

.darkGreen1 {
  background-color: #3ca34a;
  border-radius: 5px;
  height: 500px;
  padding: 10px 10px 10px 10px;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 80px;
  height: 80px;
}
